.toggle {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>* {
    width: 2rem;
    height: 2rem;
}